.card-page {
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
}

.vehicle-card {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    
}
.user-vehicle {
    display: inline-block;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 250px;
    height: fit-content;
    margin: 20px;  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}
.registration {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    font-size: 28px;
    height: 40px;
    padding: 3px;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.details {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}
.details span{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

button.history {
        width: 120px;
        height: 50px;
        color: black;
        background: rgb(0, 195, 255);
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid whitesmoke;
        margin-bottom: 10px;
}
button {
        width: fit-content;
        height: 20px;
        color: black;
        background: rgb(0, 195, 255);
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid whitesmoke;
        margin: 5px;
}