.card-page {
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
}

.vehicle-card {
    display: flex;
    justify-content: center;
    border: 1px solid whitesmoke;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    
}
.user-vehicle {
    display: inline-block;
    text-align: center;
    border: 1px solid whitesmoke;
    width: 280px;
    height: fit-content;
    margin: 20px;  
}
.registration {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    font-size: 28px;
    height: 40px;
    padding: 3px;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.details {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}
.details span{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}