.your-board {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-4, .col-md-6 {
    flex: 0 0 12.5%;
    max-width: 50%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: -25px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.card-text {
    font-size: 1em;
    color: #555;
}

h3 {
    color: rgb(129, 128, 128);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: -25px;
    margin-top: -15px;
}

